// Simple system grid
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(5, 1fr);
    }
}

// Containers
.wrapper,
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
}

.row {
    display: flex;
    align-items: center;
    ;
}