* {
    font-size: 16px;
}


/* --- Titles --- */

h1 {
    font-family: 'Roboto-Bold';
    font-size: 2.1rem;
}

h2 {
    font-family: 'Roboto-Bold';
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-gray);
}

.title {
    line-height: 20%;
    margin: 2rem;
}


/* --- Forms --- */

input {
    height: 40px;
     ::placeholder {
        padding: .2rem;
    }
}


/* --- Buttons --- */

.button {
    font-family: "Roboto-Medium";
    cursor: pointer;
    text-transform: uppercase;
}

.button-primary {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-weight: 400;
    background-color: var(--color-primary);
    color: #ffffff;
}

.button-fb {
    height: 40px;
    border-radius: 40px;
    margin: 10px;
}


/* --- Glassmhorphism --- */

@at-root .glass-container {
    background: rgba(255, 255, 255, 0.06);
    padding: 3rem;
    height: auto;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 20 px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}