:root {
  //Variables fuentes
  --fuente-bold: "Roboto-Bold";
  --fuente-regular: "Roboto-Regular";
  --fuente-medium: "Roboto-Medium";
  --fuente-light: "Roboto-Light";
  //Variables colores
  --color-primary: #390f64;
  --color-secondary: #cca6f2;
  --color-icons: #a662eb;
  --color-gray: #a3a3a3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-2: #222222;
  --color-skyblue: #3ec2ff;
  //Variable transition
  --transition: 0.3s ease all;
  //Color hover
  --color-primary-hover: #4e1786;
  --color-gradient: linear-gradient(
    to left bottom,
    #b43ed5,
    #b148db,
    #ad52e1,
    #aa5ae6,
    #a662eb
  );
}
