:root {
    //Variables fuentes
    --fuente-bold: "Roboto-Bold";
    --fuente-regular: "Roboto-Regular";
    --fuente-medium: "Roboto-Medium";
    --fuente-light: "Roboto-Light";
    //Variables colores
    --color-primary: #390F64;
    --color-secondary: #CCA6F2;
    --color-gray: #A3A3A3;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-2: #222222;
}