.groups {
  &__my-group {
    margin: 1rem 0 0;
    padding: 1rem;
    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .button-dropdown {
        cursor: pointer;
        width: 30px;
        text-align: center;
        i {
          transition: var(--transition);
          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0;
      padding: 4px 8px;
      background: #3a104a;
      color: var(--color-white);
    }
    &-integrate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 1rem 0;
      padding: 6px 8px;
      border-bottom: 1px solid var(--color-white);
      img {
        width: 30px;
        height: 30px;
        margin: 0 6px 0 0;
        display: inline-block;
      }
      > div:first-child {
        display: inline-flex;
        align-items: center;
      }
      .name {
        font-size: 16px;
        color: var(--color-black);
        margin: 0 0 6px 0;
      }
      .level {
        font-size: 13px;
        color: var(--color-white);
        font-family: var(--fuente-medium);
        letter-spacing: 0.5px;
      }
      .type {
        font-size: 18px;
        color: var(--color-white);
        letter-spacing: 0.5px;
        font-family: var(--fuente-bold);
      }
    }
    &-name {
      font-size: 17px;
      font-family: var(--fuente-bold);
    }
    &-icon {
      img {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
      }
    }
    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        width: 45%;
        &.disabled {
          cursor: not-allowed;
          background: #cccccc;
        }
      }
    }
  }
  &__show-team {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
    &.active {
      max-height: 400px;
      opacity: 1;
      pointer-events: initial;
    }
  }
}
@media screen and (min-width: 992px) {
  .groups {
    &__my-group {
      margin: 0 30px 0 0;
      width: 270px;
    }
  }
}
